.logo {
    padding-left: 20px;
}

.espaco{
    margin: 1rem 0 0 0;   
}

.lista{
    list-style: none;
    padding: 0px;
    
}
.lista li::before{
    content: "→"; 
    padding-right: 2%;
}
.lista li{
    font-size: 1.25rem;
    margin: 2em 0;
    
}

.bg-image{
    background-image: url("assets/img/deficiencias2.jpg");
}

.centro{
    margin-right: 50%;
    margin-left: 50%;
}



.divisao{
    opacity: 80% ;
    background-color: #f67828;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.ajust-hr-f{
    margin-top: 2.2rem;
}
.bg-meu-h{
    
    background: url('../assets/img/deficiencias2.jpg') no-repeat center center !important;
    background-size: cover !important;
    background-attachment: scroll !important;
    
}
.bg-meu-a{
    
    background: url('../assets/img/acessivel.jpg') no-repeat center center !important;
    background-size: cover !important;
    background-attachment: scroll !important;
}
.bg-meu-p{
    background: url('../assets/img/deficiencias3.jpg') no-repeat center center !important;
    background-size: cover !important;
    background-attachment: scroll !important;
}
.bg-meu-c{
    background: url('../assets/img/contact-bg.jpg') no-repeat center center !important;
    background-size: cover !important;
    background-attachment: scroll !important;
}
/*BUSCA RÁPIDA*/
form {
    border: 1px solid whitesmoke;
    border-radius: 0.1em;
    padding: 0.1em;
}

form input, form button {
    font-size: 1.0em;
    border-radius: 0.1em;
    border: none;
    padding: 0.2em;
}

form button {
    cursor: pointer;
    background: none;
    color: whitesmoke; 
}

form button:hover {
    background-color: whitesmoke;
    color: #f67828;
}

